    body {
        background: linear-gradient(to bottom right, rgb(0, 0, 209), rgb(235, 194, 201));
    }
    
    #first {
        background: rgb(158, 125, 189);
    }
    
    .header h3 {
        font-family: cursive;
        color: rgb(127, 154, 236);
        font-size: 24px;
    }
    
    .tables {
        margin-left: 20%;
        margin-top: 8%;
    }
    
    .btn-primary {
        display: inline-block;
        height: 46px;
        background: #55cff5;
        position: relative;
        display: inline-block;
        color: white;
        transition: none;
        border: none;
    }
    
    .btn-primary:hover {
        background-color: #23D3D9;
    }
    
    .form-control {
        width: 360px;
    }
    
    .form-control::placeholder {
        color: white;
    }
    
    .form-control:focus {
        color: white;
    }
    
    p {
        font-family: cursive;
        color: rgb(183, 201, 255);
        font-size: 24px;
    }
    
    .author {
        font-family: cursive;
        color: rgb(183, 201, 255);
        margin-top: 5%;
        margin-left: 42%;
    }
    
    table {
        border-color: #95ebee;
    }
    
    th {
        color: aliceblue;
    }
    
    tr {
        color: aliceblue;
        font-size: large;
    }