body {
    background-color: rgb(14, 13, 13);
}

h1,
h2 {
    color: azure;
    font-family: 'Western', sans-serif;
    font-size: 35px;
}

header {
    margin-left: 38%;
}

h2 {
    padding-left: 7%;
}

* {
    box-sizing: border-box;
}

.btn {
    position: absolute;
    width: 100px;
    display: inline;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ce8424;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(94, 51, 2);
    font-family: 'Western', sans-serif;
}

#plays {
    margin-top: 13%;
}

#audio1 {
    margin-left: 35%;
}

#fileupload {
    color: white;
}

@import url('http://fonts.cdnfonts.com/css/western');